body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.board{
    width: 900px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 1px 6px rgba(44, 43, 43, 0.308);
    transition: 400ms ease;
    position: relative;
    display: flex;
}

    .board:hover{
        box-shadow: 0px 8px 18px rgba(41, 39, 39, 0.340);
    }

.side-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    border-right: 1px solid rgba(29, 29, 29, 0.575);
}

    .side-menu ul li{
        margin: 60px 10px;
    }

        .side-menu a{
            margin: 0;
            padding: 0;
            color: rgb(22, 21, 21);
            font-size: 36px;
            cursor: pointer;
            transition: 300ms ease-in-out;
        }

            .side-menu a:hover{
                color: rgb(104, 103, 103);
            }
            
.main{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
}

.panel{
        width: 400px;
        height: 150px;
        margin: 10px;
        padding: 8px;
        border-radius: 5px;
        background-color: rgb(22, 21, 21);
        box-shadow: 0px 4px 8px rgba(32, 31, 31, 0.418);
        transition: 400ms ease-in-out;
        display: none;
    }

    h2{
        color: #FFF;
        font-size: 18px;
    }

        .text{
            color: #FFF;
            font-size: 14px;
        }

a.active{
    color: rgb(104, 103, 103);
}

.panel.active{
    display: block;
}



